
  <div class="wrpper">


    <div class="login-container">
      <div class="panel panel-default">
        <div class="panel-heading"><span>Log in to your account.</span></div>
        <div class="panel-body">
         
          <form class="form-horizontal form-signin" #loginForm="ngForm">
            <div class="login-form">
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="username" type="text" placeholder="Username" autocomplete="off" class="form-control" [(ngModel)]="user.userName"
                    name="username" #username="ngModel" required>
                </div>
                 <div [hidden]="username.valid || (username.pristine && !isloginFormSubmitted)" class="alert alert-danger">
                     Username required
                  </div>
              </div>
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="password" type="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required>
                </div>
                 <div [hidden]="password.valid || (password.pristine && !isloginFormSubmitted)" class="alert alert-danger">
                     Password is required
                  </div>
              </div>

              <div class="form-group login-submit">
                <div class="login-spinner" [hidden]="!showSpinner"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                  <span class="sr-only">Loading...</span> </div>
                <button type="button" class="btn btn-primary btn-lg btn-primary-fill" (click)="signIn()">Sign in</button>
              </div>
              <div class="form-group footer row hidden">
                <div class="col-xs-6"><a href="#">Forgot Password?</a></div>
                <div class="col-xs-6 remember">
                  <label for="remember">Remember Me</label>
                  <div class="am-checkbox">
                    <input type="checkbox" id="remember">
                    <label for="remember"></label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
