<nav class="navbar navbar-default navbar-fixed-top top-header">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand">Account Balancer</a>
				
				</div>
				
				<a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="toggle-top-header-menu collapsed"><span class="fa fa-chevron-down"></span></a>
				<div id="am-navbar-collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right user-nav">
										
							<li class=""><a data-toggle="dropdown"aria-expanded="false" class="dropdown-toggle-top"><span class="user-name">{{userName}}</span></a>
							</li>
							<li><a (click)="signOut()" role="button" title="Sign-Out"> <i class="fa fa-power-off"></i> </a></li>
												
					</ul>
					
					
				</div>
			</div>
		</nav>

