<div class="wrapper">
    <app-header *ngIf="isLoggedIn()"></app-header>
    <app-navigation *ngIf="isLoggedIn()"></app-navigation>

    <div class="blocker" [hidden]="!isBlocked">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="main-content">
        <div class="inner-cnt">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>