<div class="page-head">

  <div class="row">

    <div class="col-md-12">
      <h2>Account Balance</h2>
    </div>


  </div>
</div>





<div class="inner-content">

  <div class="">
    <div class="col-md-12">
      <div class="row">
        <div class="form-horizontal form-wrap m-b-15">
          <div class="col-md-3">

            <div class="form-group">
              <label for="year" class="col-sm-4 col-xs-6 control-label">Year</label>
              <div class="col-sm-8 col-xs-6">
                <select name="year" class="form-control" [(ngModel)]="year">                     
                       <option *ngFor="let year of years" [value]="year">{{year}}</option>
                      </select>

              </div>

            </div>
          </div>
          <div class="col-md-3">

            <div class="form-group">
              <label for="year" class="col-sm-4 col-xs-6 control-label">Month</label>
              <div class="col-sm-8 col-xs-6">
                <select name="year" class="form-control" [(ngModel)]="month">                    
                       <option *ngFor="let month of months" [value]="month.Value">{{month.Name}}</option>
                      </select>

              </div>

            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary" (click)="getAcountData()">GO</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-wrap">
        <div class="table-responsive" id="no-more-tables">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>RnD</th>
                <th>Canteen</th>
                <th>CEO's Car</th>
                <th>Marketing</th>
                <th>Parking Fines</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rs. {{acountBalanceInfo?.RAndD}}</td>
                <td>Rs. {{acountBalanceInfo?.Canteen}}</td>
                <td>Rs. {{acountBalanceInfo?.CeoCarExpenses}}</td>
                <td>Rs. {{acountBalanceInfo?.Marketing}}</td>
                <td>Rs. {{acountBalanceInfo?.ParkingFines}}</td>
              </tr>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>