<div class="left-side-bar">
	<div class="content">
		<div class="am-logo"></div>
		<ul class="sidebar-elements">


			<li class="parent">
				<a [routerLink]="['/accounts']" [routerLinkActive]="['active']"><i class="fa fa-money" aria-hidden="true"></i><span>Accounts</span></a>

			</li>
			<li class="parent" *ngIf="isAdmin">
				<a [routerLink]="['/accounts/reports']"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Reports</span></a>

			</li>

			<li class="parent" *ngIf="isAdmin">
				<a [routerLink]="['/accounts/fileupload']"><i class="fa fa-upload" aria-hidden="true" ></i><span>Upload</span></a>

			</li>


		</ul>
		<!--Sidebar bottom content-->
	</div>