<div class="page-head">
  <div class="row">
    <div class="col-md-4">
      <h2>File Upload</h2>

    </div>

  </div>
</div>
<div class="inner-content">



  <div class="row">
    <div class="col-md-12">
      <form class="form-wrap form-horizontal" novalidate>



        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="year" class="col-sm-5 col-xs-6 control-label">Year</label>
              <div class="col-sm-7 col-xs-6">
                <select name="year" class="form-control" [(ngModel)]="accountData.year">                     
                       <option *ngFor="let year of years" [value]="year">{{year}}</option>
                      </select>

              </div>
            </div>
            <div class="form-group">
              <label for="month" class="col-sm-5 col-xs-6 control-label">Month</label>
              <div class="col-sm-7 col-xs-6">
                <select name="month" class="form-control" [(ngModel)]="accountData.month">               
                        <option *ngFor="let month of months" [value]="month.Value">{{month.Name}}</option>
                      </select>

              </div>
            </div>
            <div class="form-group">
              <label for="month" class="col-sm-5 col-xs-6 control-label">File</label>
              <div class="col-sm-7 col-xs-6">
                <input type="file" placeholder="Upload file" accept=".xls,.xlsx" (change)="selectFile($event)">

              </div>
            </div>

            <div class="form-group">
              <label for="month" class="col-sm-5 col-xs-6 control-label"></label>
              <div class="col-sm-7 col-xs-6">
                <button type="button" class="btn btn-primary" (click)="fileUpload()">Upload</button>

              </div>
            </div>

          </div>

        </div>





      </form>
    </div>
  </div>


</div>