<div class="page-head">
<div class="row">
   
    <div class="col-md-12">
      <h2>Reports</h2>
    </div>


  </div>

</div>

<div class="inner-content">
    <div class="col-md-12">
      <div class="row">
    <div class="form-horizontal form-wrap m-b-15">
    <div class="col-md-3">

      <div class="form-group">
        <label for="year" class="col-sm-4 col-xs-6 control-label">Year</label>
        <div class="col-sm-8 col-xs-6">
          <select name="year" class="form-control" [(ngModel)]="year">                    
                       <option *ngFor="let year of years" [value]="year">{{year}}</option>
                      </select>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="getReportData()">Generate</button>
    </div>
    </div>
  </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-wrap">
        <chart [options]="options"></chart>
      </div>
    </div>
  </div>
</div>


